body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Custom Styles below */

table {
  border-collapse: collapse;
}

.tableContent {
  padding: 5px 15px 5px 15px;
  border: 1px solid black;
}

.tableContent:hover {
  background-color: #8080803b;
  cursor: context-menu;
}

.selectedRow {
  background-color: #4bf5f596;
}

.newUpload {
  font-size: 10px;
  position: absolute;
  top: -8px;
  left: -15px;
  color: red;
  text-shadow: 1px 1px yellow;
}

.uploaderLabel {
  border: 1px solid black;
  padding: 5px 10px 5px 10px;
  margin-left: 10px;
}

.uploaderLabel:hover {
  background-color: #8080803b;
}

input[type="file"] {
  display: none;
}

.uploader {
  padding: 15px;
  margin-bottom: 20px;
  min-height: auto;
}

.fileList {
  padding: 15px;
}

.error {
  color: red;
}

table {
  border-collapse: collapse;
}

.fileRow {
  position: relative;
  max-width: 40vw;
}

.custom-file-upload {
border: 1px solid #ccc;
display: inline-block;
padding: 6px 12px;
cursor: pointer;
}

.highlightNew {
  background-color: rgb(146 222 247);
}

.fileContentDisplay {
  overflow: auto;
}

.flex-container {
  display: flex;
}

.fileContentViewer {
  padding: 15px;
  max-width: 50vw;
}

.newRow {
  background: yellow;
}